<!DOCTYPE html>
<head>
    <title>Search Reddit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
    <h3>Select</h3>
    <form id="selectSearch" action = "/" method = "POST">
        <Select id="mySelect" name="whatToSearch">
            <option value="subredditSelect">Search for a Subreddit</option>
            <option value="postsSelect">Hotest Posts on a Subreddit</option>
        </Select>
        <input type="submitSearch" name="submitSearch"></input>
        <button type="submit">Submit</i></button>
    </form>
</body>