<!DOCTYPE html>
<head>
    <title>Reddit {{ Title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='posts.css') }}" />
</head>

<body>
    <section>
        <h3> {{ Title }} </h3>
    </section>
    <section>
        <form id="selectTime" action = "{{url_for('top', id=subreddit)}}" method = "POST">
            <Select id="mySelect" name="whatTime">
                <option value="all">All</option>
                <option value="hour">Last Hour</option>
                <option value="day">Today</option>
                <option value="month">This Week</option>
                <option value="year">This Year</option>
            </Select>
            <button type="submit">Submit</button>
        </form>
    </section>
    <section>
        <ul>{% for item in result %}
            <li><a href ="{{ result[item] }}" target="_blank">{{ item }}</a></li>
            {% endfor %}
        </ul>
        <br>
    </section>
    <section>
        <form action="{{url_for('search')}}"><button type="submit">Home Page</button></form>
        <form action="{{url_for('top', id=subreddit)}}"><button type="submit">Top from this Subreddit</button></form>
        <form action="{{url_for('subreddits', id=subreddit)}}"><button type="submit">Subreddits like {{ subreddit }}</button></form>
    </section>
</body>